@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello</h1>


<FluentGrid Spacing="3" AdaptiveRendering="true" Justify="JustifyContent.SpaceEvenly" Style="background-color: var(--neutral-layer-3); padding: 4px; ">
    <FluentGridItem xs="12">
        <FluentCard Width="100px" Height="100px">
            <p>1</p>
        </FluentCard>
    </FluentGridItem>
    <FluentGridItem xs="12">
        <FluentCard Width="100px" Height="100px">
            <p>1</p>
        </FluentCard>
    </FluentGridItem>
    <FluentGridItem xs="12">
        <FluentCard Width="100px" Height="100px">
            <p>1</p>
        </FluentCard>
    </FluentGridItem>
    <FluentGridItem xs="12">
        <FluentCard Width="100px" Height="100px">
            <p>1</p>
        </FluentCard>
    </FluentGridItem>
</FluentGrid>
